/* reset */
/* variables */
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 241, 241);
  font-family: "Lato", sans-serif;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
}

/* This class hides the text visually but keeps it available for screen readers. */
.sr-only {
  position: absolute;
  left: -9999px;
}

/* header layout */
/* variables */
/* mixin */
header {
  background-color: rgb(12, 182, 233);
}

a .lab-logo {
  width: 80px;
  height: 40px;
}

/* banner */
/* variables */
section .banner__title {
  color: rgb(28, 125, 160);
  text-shadow: 2px 2px rgb(219, 220, 221);
}

/* laboratory-test-accepted-insurance */
/* variables */
/* mixin */
/* mixin */
.main--grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
}

.banner--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.ibb.co/yBXdcs0L/banner-logo.png");
  background-position: right top;
  background-size: cover;
}

.banner__title--flex {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  padding: 1rem;
  border-radius: 0.25rem;
}

.main__card {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
  margin: 1rem;
}
.main__card img {
  width: 70%;
  height: 80%;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 1px solid rgb(143, 149, 159);
  box-shadow: 8px 4px rgb(143, 149, 159);
}

/* about */
section div figure .about-img {
  object-fit: cover;
  object-position: left;
}
section div div p {
  text-align: justify;
}

/* contact */
/* variables */
/* mixin */
/* mixin */
section ul li img {
  width: 15px;
  height: 15px;
}

/* footer */
/* variables */
/* mixin */
/* variables */
/* mixin */
footer {
  padding: 1rem;
  background-color: rgb(99, 99, 102);
  text-align: right;
}
footer div {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
footer div a img {
  width: 16px;
  height: 16px;
}

/* mobile media queries */
/* variables */
/* mixin */
/* mixin */
@media screen and (max-width: 768px) {
  .header-flex {
    display: none;
  }
  /* laboratory-test-accepted-insurance page */
  .main--grid {
    display: grid;
    grid-template-rows: 1fr 80%;
    grid-template-columns: 1fr;
  }
  .main__card {
    display: grid;
    grid-template-rows: repeat(8, 12%);
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
  }
  .main__card img {
    width: 90%;
    height: 50%;
  }
  /* /laboratory-test-accepted-insurance page */
}
/* tablet media queries */
/* variables */
/* mixin */
/* mixin */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* laboratory-test-accepted-insurance page */
  .main--grid {
    display: grid;
    grid-template-rows: 30% auto;
    grid-template-columns: 1fr;
  }
  .main__card {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}
/* /laboratory-test-accepted-insurance page */

/*# sourceMappingURL=styles.css.map */
