* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(237, 241, 241);
  font-family: "Lato", sans-serif;
}
header {
  background-color: rgb(12, 182, 233);
}
.lab-logo {
  width: 80px;
}
/* Main */
.banner__title {
  color: rgb(28, 125, 160);
  text-shadow: 2px 2px rgb(219, 220, 221);
}
.banner__title h1,
.banner__title h2 {
  font-size: 1.2rem;
}
section a {
  text-decoration: none;
}
.arrow-icon {
  height: 1rem;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

/* Contact */
.contact-icon {
  width: 20px;
}
/* /Contact */

/* footer */
footer {
  padding: 1rem;
  background-color: rgb(99, 99, 102);
  text-align: right;
}
footer div a img {
  height: 20px;
}
/* /footer */

/* This class hides the text visually but keeps it available for screen readers. */
.sr-only {
  position: absolute;
  left: -9999px;
}

/* laboratory-test-accepted-insurance page,
css with FLEX/GRID/MQ. Without bootstrap */
.main--grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
}
.banner--flex {
  background-image: url("../images/banner-logo.png");
  background-position: right top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__title--flex {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  padding: 1rem;
  border-radius: 0.25rem;
}
.main__card {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  margin: 1rem;
}
.main__card img {
  width: 70%;
  height: 80%;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 1px solid rgb(143, 149, 159);
  box-shadow: 8px 4px rgb(143, 149, 159);
}
/* /laboratory-test-accepted-insurance page */

@media screen and (max-width: 768px) {
  .header-flex {
    display: none;
  }
  /* laboratory-test-accepted-insurance page */
  .main--grid {
    grid-template-rows: 1fr 80%;
    grid-template-columns: 1fr;
  }
  .main__card {
    grid-template-rows: repeat(8, 12%);
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
  }

  .main__card img {
    width: 90%;
    height: 50%;
  }
  /* /laboratory-test-accepted-insurance page */
}

@media screen and (min-width: 768px) {
  .banner__title h1,
  .banner__title h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  /* laboratory-test-accepted-insurance page */
  .main--grid {
    grid-template-rows: 1fr 50%;
    grid-template-columns: 1fr;
  }
  .main__card {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  /* /laboratory-test-accepted-insurance page */
}
