/* variables */
@use "../utilities/variables" as *;
/* mixin */
@use "../utilities/mixin" as *;

footer {
  padding: 1rem;
  background-color: $footer-bg-color;
  text-align: right;
  div {
    display: flex;
    justify-content: end;
    gap: 1rem;
    a {
      img {
        @include size(16px, 16px);
      }
    }
  }
}
